[Bb]in/
[Oo]bj/

*.user
*.userosscache
*.sln.docstates


*.local.json

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.idea/
*.sln.iml

Thumbs.db
Ehthumbs.db
Desktop.ini
.DS_Store

*.log
logs/